body { 
    background-image: url('../img/pictures/main_image.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 500px;
    background-size: cover;
}
h1{
    text-transform: uppercase;
}
.section1 {
    height: 500px;
}
.navbar{
    border: none;
    border-radius: 0;
    background-color: rgba(0,0,0,0);
    color: white;
    margin-top: 0;
}
.navbar>li{
    margin-top: 40px;
    color: white;
}
.affix {
    top: 0;
    width: 100%;
}
.nav-wrapper{
    min-height: 100px;
}
.nav-fix{
    width:90%;
}
.block-thing {
    width: 700px;
    margin-top: 400px;
    width: 100%;
}
.block-float{
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    width: 55%;
    margin: 0 auto; 
}
.one{
    border: none;
}
.block-float >span{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 45px;
    width: 50%;
}
.block-float >span.blue{
    text-transform: lowercase;
    font-family: serif;
    font-style: italic;
    word-spacing: 2px;
}
span.blue{
    color: #63C7C5;
    font-weight: bold;
}
.block-float>span 
.block-float>span.blue {
    vertical-align: middle;
}
.second-header {
    background-color: #676464;
    min-height: 100px;
    width: 100%;
}
.second-header>.navbar{
    margin:0;
}
span.name-text{
    text-align: center;
    color: white;
    font-size: 15px;
    letter-spacing: 3px;
    word-spacing: 4px;
    font-weight: normal;
}
.info-panel{
    background-color: white;
    min-height: 500px;
}
.inner-panel{
    text-align: center;
    width: 60%;
    margin: auto; 
    padding: 60px;
    color: gray;
    font-family: sans-serif;
}
.inner-panel>h1{
    margin-top: 50px;
    font-size: 35px;
    letter-spacing: 3px;
    font-weight: bold;
}
.inner-panel>h2{
    font-size: 15px;
    letter-spacing: 1px;
    font-style: italic;
    margin-bottom: 50px;
}
.inner-panel>h3{
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 3px;
    margin-top: 20px;
}
.inner-panel>h4{
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 30px;
    line-height: 30px;
}
.inner-panel>img{
    width: 40%;
}
.photo-panel>img {
    max-width: 100%;
}
.icons-for-days{
    text-align: center;
    width: 100%;
    margin: 0 auto; 
    padding-bottom:50px;
}
.icons-for-days>img{
    width: 75px;
    margin: 5%;
    margin-top: 30px;
}
.no-bottom{
    padding-bottom: 0;
    margin-bottom: 0;
}
.ref-panel { 
    background-image: url('../img/pictures/testimonial_photo.png');
    background-position: center;
    min-height: 400px;
    background-size: cover;
}
.inner-ref{
    text-align: center;
    width: 85%;
    margin: 0 auto; 
    padding:100px 0px;
}
.ref-panel h3 { 
    color: white;
    margin:0 auto;
    width: 100%; 
    line-height: 60px;
    font-family: serif;
    font-size: 37px;
}
.ref-panel h2{
    margin:0;
    color: white;
    width: 100%; 
    line-height: 60px;
    font-family: sans-serif;
    font-style: italic;
    font-size: 25px;
}
.ref-panel span.blue{
    font-family: sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-style: normal;
}
.work-ex{
    text-align: center;
    width: 100%;
    margin: 0 auto; 
    padding-bottom:50px; 
}
.work-ex>img{
    max-height: 150px;
    max-width: 250px;
    margin: 3%;
    margin-top: 70px;
}
.resume-panel{
    background-color: #676464;
    min-height: 150px;
}
.resume-panel>h3{
    color:white;
    text-transform: uppercase;
    text-align: center;
    width: 60%;
    margin: auto; 
    padding: 65px;
}
.foot{
    margin: 0;
    padding: 40px;
}
.foot>img{
    max-width: 30px;
}
img.cr{
    max-width: 40px;
}
.footer-panel{
    background-color: white;
}
.footer-panel>.inner-panel{
    padding: 0;
}
a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}
.content {
    width: 400px;
    padding: 20px;
    overflow: hidden;
    text-align: left;
}
.content img {
    margin-right: 15px;
    float: left;
}

@media screen and (min-width : 900px) {
    .inner-panel>img{
        width: 250px;
    }
}

@media screen and (max-width : 618px) {
    .block-float>span{
        font-size: 25px;
    }
    .block-float>span.name-text{
        font-size: 13px;
    }
    .inner-panel{
        width: 90%;
        padding: 30px;
    }
    .foot{
        width:100%;
        padding-left: 0;
        padding-right:0;
    }
    .foot>img{
        margin: 5%;
    }

}

@media screen and (max-width : 769px) {
    .nav-wrapper{
        display: none;
    }
    .content img{
        margin: 20px;
        margin-bottom: 30px;

    }
    .inner-panel>h1{
        margin-top: 18px;
        font-size: 23px;
        letter-spacing: 1px;
    }
    .inner-panel>h2{
        font-size: 15px;
        letter-spacing: 1px;
        margin-bottom: 15px;
    }
    .inner-panel>h3{
        font-size: 19px;
        letter-spacing: 3px;
        margin-top: 10px;
    }
    .inner-panel>h4{
        font-size: 15px;
        letter-spacing: 2px;
        margin-top: 15px;
        line-height: 30px;
    }
    .icons-for-days>img{
        width: 50px;
        margin: 2%;
        margin-top: 0px;
    }
    .content {
        width: 400px;
        padding: 20px;
        overflow: hidden;
        text-align: center;
    }
    .content img {
        margin: 10px;
        margin-bottom: 15px;
        float: none;
    }
    .work-ex>img{
        max-height: 50px;
        max-width: 150px;
        margin: 15px;
    }
    .short{
        min-height: 300px;
    }
    .resume-panel>h3{
        font-size: 18px;
        letter-spacing: 3px;
        width: 80%;
        padding: 50px;

    }
    .footer-panel>.inner-panel>.icons-for-days{
        width: 100%;
        margin: 0 auto;
    }
    .foot>img{
        margin: 4%;
    }

    .inner-ref{
        padding:50px 0px;
    }
    .ref-panel h3 { 
        line-height: 50px;
        font-size: 21px;
    }
    .ref-panel h2{
        line-height: 40px;
        font-size: 16px;
    }
    .ref-panel span.blue{
        font-size: 18px;
    }
}